body {
    font-family: sans-serif;
    background-image: linear-gradient(#A400B2, #240031);
}

nav{
    text-align: right;
}

main{
    color: white;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 12px;
    background-color: #9C79FF;
    border-radius: 10px;
    text-shadow: black 0px 1px 1px;
    position: relative;
    top: 20px;
    right: 12px;
}

nav a:hover{
    text-decoration: underline;
}

h1{
    text-align: center;
    position: relative;
    top: 30px;
}

.golo{
    background-image: linear-gradient(180deg, #5224D6 0%, #27097E 100%);
    position: relative;
    top: 30px;
    left: 32px;
    width: 650px;
    height: 150px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.answ{
    background-image: linear-gradient(180deg, #5224D6 0%, #27097E 100%);
    position: relative;
    top: 30px;
    left: 32px;
    width: 650px;
    height: 430px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.butA{
    background-image: linear-gradient(180deg, #9C79FF 0%, #4C2DA5 100%);
    box-shadow: black 0px 5px 10px 1px;
    text-decoration: none;
    color: white;
    height: 30px;
    width: 110px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    left: 250px;
}

div{
    
}

.butA div{
    
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(#A400B2, #9300C7);
}

nav{
    text-align: right;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 12px;
    background-color: #9C79FF;
    border-radius: 10px;
    text-shadow: black 0px 1px 1px;
    position: relative;
    top: 20px;
    right: 12px;
}

.bron{
    background-image: linear-gradient(180deg, #5224D6 0%, #27097E 100%);
    width: 630px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    top: 70px;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
}

.shk{
    background-image: linear-gradient(#9C79FF, #4C2DA5);
    position: absolute;
    top: 100px;
    left: 40px;
    padding: 20px;
    border-radius: 15px;
    border: 5px solid rgb(0, 207, 0);
    width: 130px;
    height: 40px;
}

.met{
    background-image: linear-gradient(#9C79FF, #4C2DA5);
    position: absolute;
    top: 105px;
    left: 260px;
    padding: 20px;
    border-radius: 15px;
    width: 130px;
    height: 40px;
}

.gold{
    background-image: linear-gradient(#9C79FF, #4C2DA5);
    position: absolute;
    top: 105px;
    left: 470px;
    padding: 20px;
    border-radius: 15px;
    width: 130px;
    height: 40px;
}

.propts{
    background-image: linear-gradient(180deg, #5224D6 0%, #27097E 100%);
    width: 590px;
    height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    top: 200px;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
}

.bgr{
    background-image: linear-gradient(#9C79FF, #4C2DA5);
    top: 80px;
    left: -40px;
    padding: 20px;
    border-radius: 15px;
    width: 450px;
    height: 420px;
    position: relative;
    display: flex;
    justify-content: center;
}

.textpb{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 270px;
    text-align: center;
}

.panel{
    background-color: #3B06AB;
    font-size: 25px;
    position: absolute;
    width: 340px;
    height: 270px;
    padding: 20px;
    border-radius: 10px;
    top: 180px;
}

.texta{
    position: absolute;
    top: 250px;
    left: 170px;
    font-size: 26px;
    text-align: left;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(#A400B2, #9300C7);
}

nav{
    text-align: right;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 12px;
    background-color: #9C79FF;
    border-radius: 10px;
    text-shadow: black 0px 1px 1px;
    position: relative;
    top: 20px;
    right: 12px;
}

.bron{
    background-image: linear-gradient(180deg, #5224D6 0%, #27097E 100%);
    width: 630px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    top: 70px;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
}

.shk{
    background-image: linear-gradient(#9C79FF, #4C2DA5);
    position: absolute;
    top: 100px;
    left: 40px;
    padding: 20px;
    border-radius: 15px;
    width: 130px;
    height: 40px;
}

.met{
    background-image: linear-gradient(#9C79FF, #4C2DA5);
    position: absolute;
    border: 5px solid rgb(0, 207, 0);
    top: 105px;
    left: 260px;
    padding: 20px;
    border-radius: 15px;
    width: 130px;
    height: 40px;
}

.gold{
    background-image: linear-gradient(#9C79FF, #4C2DA5);
    position: absolute;
    top: 105px;
    left: 470px;
    padding: 20px;
    border-radius: 15px;
    width: 130px;
    height: 40px;
}

.propts{
    background-image: linear-gradient(180deg, #5224D6 0%, #27097E 100%);
    width: 590px;
    height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    top: 200px;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
}

.bgr{
    background-image: linear-gradient(#9C79FF, #4C2DA5);
    top: 80px;
    left: -40px;
    padding: 20px;
    border-radius: 15px;
    width: 450px;
    height: 420px;
    position: relative;
    display: flex;
    justify-content: center;
}

.textpb{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 270px;
    text-align: center;
}

.panel{
    background-color: #3B06AB;
    font-size: 25px;
    position: absolute;
    width: 340px;
    height: 270px;
    padding: 20px;
    border-radius: 10px;
    top: 180px;
}

.texta{
    position: absolute;
    top: 250px;
    left: 170px;
    font-size: 26px;
    text-align: left;
}
